
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
.mograFont {
  font-family: 'Mogra', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  /* This is the font used in the mockup */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4E6B42;
  color: white;
}
.links {
  display: flex;
  gap: 1rem;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.link:hover {
  color: #384d2f;
}

.button{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #faf7e1;
  color: #4E6B42;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #829e76;
}